@import '../components/galleryDetails/galleryDetails';
@import '../components/Heading/heading';
@import '../Pages/Auth/Auth';
@import '../Pages/UnregistredPage/UnregistredPage.scss';
@import '../Pages/SinglePhoto/SinglePhoto';
@import '../Pages/Galery/Galery';
@import './button';

*{
  margin:2px;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: sans-serif;
}

p{
  font-family: 'Amatic SC', cursive;
}

a{
  &:hover{
  text-decoration: none;
  }
}



